@mixin column-break($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
